---
import Layout from "../../layouts/Layout.astro";
import { fetchProgram } from "./fetchProgram";

const fullprogram = await fetchProgram();
---

<Layout title="Program">
  
  <div>
  <h1>Program for Javazone 2024</h1>
  <h4>These are all the talks that made it into the program. Congratulations to those who were chosen! The times for all talks will be announced later.</h4>
    <div class="">
    {fullprogram.sessions.map((session) => (
      <div class="bg-white w-full relative p-5 mb-2 border-black border-2 rounded-xl">
      <a href=`/program/${session.id}` style="text-decoration: none; color: inherit;">
        <h2 class="text-lg md:text-3xl font-bold p-0">{session.title}</h2>
        <div class="text-base md:text-xl md:flex gap-14">
        {session.speakers.map((speaker) =>(<h4>{speaker.name}</h4>))}
        </div>
        </a>
      </div>
    ))}
    </div>
  </div>
</Layout>


