---
import Layout from "@/layouts/Layout.astro";
import {Image} from "astro:assets";
---
<Layout title="JourneyZone!">

<div class="w-full flex flex-col justify-start items-start">
    <div class="pb-4 lg:pb-6">
        <h1>Welcome to the Viking Era JourneyZone!</h1>
    </div>

    <div class="w-full px-3 py-8 lg:px-12 mb-3 border-2 border-black bg-white rounded-2xl">
        <p>Imagine finding yourselves deep in a mysterious, ancient forest. <b class="text-darkgreen">No phones. No Internet.</b> Only you, a map and nature. You find yourselves lost and together you need to find your way back. You must solve puzzles, follow clues, and overcome natural obstacles. Waterfalls must be crossed, gorges climbed, and rivers navigated by canoe.</p>

        <h3><strong>But that's not all...</strong></h3>

        <p>As you move forward, you suddenly discover that time seems to be behaving strangely. With every puzzle you solve and obstacles you pass you seem to move further back in time. Eventually, you find yourselves face to face with a <b class="text-darkgreen">Viking camp.</b> The year is 1052, and you have traveled back to the time of the <b class="text-darkgreen">Viking Era.</b></p>
        <p>In this strange and fascinating world, you are greeted by none other than King Harald Hardraade's men. He has led you to his place because you are the best at what you do. The king has a special mission: to build a new <b class="text-darkgreen">Viking ship</b>, faster and more agile than ever before. He needs your knowledge and skills to complete this monumental project.</p>
        <p>This is a unique opportunity to experience history up close, to collaborate as a team, and to learn about an era filled with adventure, bravery, and craftsmanship. Can you live up to the king's expectations and help him create a ship that will be remembered through the ages?</p>
    </div>

    <h3 class="px-3 md:px-12"><strong>What is JourneyZone?</strong></h3>
    <div class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">

        <div class="py-3 w-full flex-none xl:flex xl:items-center 2xl:items-start">
            <div class="xl:w-1/2 2xl:w-2/3">
                <p class="pb-6">JourneyZone is our annual trip exclusively for speakers just after the JavaZone conference.
                    This year we will not be traveling far geographically, but the Journey will take us far back in time.</p>

                <h4 class="font-semibold">When? Where?</h4>
                <p>We are leaving Oslo early in the morning Friday (the day after JavaZone) September 6th. We will be back in Oslo (Central station) in the afternoon on Sunday, September 8th. We will travel by bus for around an hour from Oslo.</p>
                <p>The entire trip is planned, so all you need to do is meet up. You will need your outdoor equipment for hiking and sleeping outside in possible freezing temperatures. We will send a more detailed packing list closer to the event.</p>
            </div>

            <div class="w-full xl:w-1/2 2xl:w-1/3 xl:ml-6">
                <img src="/images/JourneyZoneAxes.jpg" alt="Viking axes" class="object-contain grayscale border-2 border-black" />
            </div>
        </div>

        <div class="py-3">
            <h4 class="font-semibold">Who can participate?</h4>
            <p>All speakers of JavaZone are invited, but we have a limited number of spots available for the journey. Those who hold full presentations and workshops are prioritized, but presenters of lightning talks are of course also welcome to apply!</p>
            <p>In order to attend, you must be in a physical condition that allows you to hike up a mountain and spend the whole day out in the wilderness. No extraordinary physical activity is required by participants.</p>
        </div>

        <div class="w-full py-3 flex-none xl:flex xl:items-end 2xl:items-start">
            <div class="xl:w-1/2 2xl:w-2/3">
                <h4 class="font-semibold">Personal expenses</>
                <p>JavaZone will cover almost all your expenses which is considered your reward for holding your talk at the conference. To ensure that we stretch the budget to accommodate as many as possible we require that all attendees pay NOK 1500.</p>

                <h4 class="font-semibold py-3">The program</h4>
                <p>The program is, as usual, tightly packed and full of interesting events. The main activities are hiking and doing various activities outside, so good shoes and hiking gear and clothes are absolutely necessary. We may end up camping in the nature.
                    The details will be a surprise and could change depending on the weather conditions. We will adapt to whatever comes our way and set up a great program accordingly.</p>
            </div>

            <div class="w-full xl:w-1/2 2xl:w-1/3 xl:ml-6 xl:mb-3">
                <img src="/images/JourneyZoneVikingskip.jpg" alt="Vikings building a ship" class="object-contain grayscale border-2 border-black" />
            </div>
        </div>

    </div>
</div>

</Layout>

<style>
    .historicalTrailer {
        color: rgb(50, 50, 50);
        max-width: 1200px;
        font-style: italic;
    }
</style>


