---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Info">
    <h1>General information about JavaZone</h1>

    <h2>JavaZone 101 - The Who, What and Where</h2>
    <section id="javazone101" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>
            JavaZone – the biggest European community-driven conference for modern developers will be 23
            years old in 2024! Don’t miss out on two days of inspiring tech talks, a day of hands-on sessions, mingling,
            and a great party!
        </p>
        <p>
            JavaZone is organized by javaBin, the Norwegian Java User Group. Our goal is to organize a
            community-driven conference for Java developers where they can learn new things, share knowledge, and
            socialize.
        </p>
        <p>
            We have been organizing JavaZone since 2001 and have been excited to watch the event grow bigger
            and better every year.
        </p>
        <p>
            We would not be what we are today without YOU! Thank you for your support and contributions over
            the years. Don’t procrastinate! Join your fellow Java developers at JavaZone on September 4th-5th, 2024!
        </p>
    </section>

    <h2>Claiming your ticket</h2>
    <section id="claim-your-tickets" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>
            As the previous years we are all sold out. If you are one of the lucky to be a ticket holder,
            you claim your badge when arriving at Oslo Spektrum. (You can change the name on the ticket until you arrive
            and get your badge at Oslo Spektrum, but after that the ticket is personal and non-transferable).
        </p>
        <p>
            If you are attending a workshop on Tuesday September 3rd you pick up your badge when you arrive
            at the workshop.
        </p>
        <p>
            On Tuesday September 3rd from 16:00 until 18:00 you can pick up your badge at Oslo Spektrum -
            entrance 3 (and thus walk straight past the queue on Wednesday).
        </p>
    </section>

    <h2>Two conference days</h2>
    <section id="conference-days" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>
            Two days full of talks from renowned Norwegian and international speakers, in varying formats
            and categories. You don’t want to miss our amazing lineup.
        </p>
        <p>
            Our doors open at 8:00 on Wednesday September 4th. At 8:30, you can expect our unique opening
            show taking place in the expo. The talks will start at 9:00 both days.
        </p>
        <p>
            The last talk will be finished at 18:00 on Thursday September 5th.
        </p>
    </section>

    <h2>An afterparty to remember</h2>
    <section id="afterparty" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>
            After a long day of unique learning experiences, it feels good to chill out with some good food
            and drink. JavaZone parties are legendary - and we can promise something amazing for our afterparty this
            year as well! Scroll down for more information about <a href="#awezone">AweZone!</a>
        </p>
    </section>

    <h2>Hands-on workshops</h2>
    <section id="workshops" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>
            Do you prefer practical tasks more than theory? Take part in one of our great workshops and
            boost your knowledge and skills. The workshops are included in your ticket, but we have a limited number of
            seats, so you need to register. Workshop registrations open on Monday August 19th at 12:00. Register on a workshop by finding your favorite on
            <a href="/program">https://2024.javazone.no/program</a>
        </p>
    </section>

    <h2>...And a whole lotta love ❤️</h2>
    <section id="love-at-javazone" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>You will meet lots of interesting people at JavaZone! Grab your coffee (or tea) and mingle away!</p>
    </section>

    <h2>The JavaZone Program</h2>
    <section id="program" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>The full program is available at <a href="/program">https://2024.javazone.no/program</a></p>

        <h3>Lightning talks</h3>
        <p>
            Lightning talks are either 10 or 20 minutes long and often give a quick introduction to a
            concept. This is a great way to get a sneak peek at something new.
        </p>

        <h3>Presentations</h3>
        <p>
            Presentations at JavaZone have a length of 45 or 60 minutes and will give you a deeper
            understanding of a concept than lightning talks.
        </p>
    </section>

    <h2>AweZone: Celebrating the community</h2>
    <section id="awezone" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>AweZone is JavaZone's traditional party which takes place on Wednesday evening.</p>
        <p>
            The party offers a great chance to catch up with old friends, meet new ones, and also experience
            a great lineup of entertainment!
        </p>
        <p>
            On Wednesday, we will be starting the pre-party at Oslo Spektrum at 19:20. At 20:00, we will be
            leaving Oslo Spektrum together and moving towards Youngstorget, and the best geeky super-party ever –
            AweZone! We will be spending the evening at <strong>Youngs</strong>, <strong>Himkok</strong>, and
            <strong>Kulturhuset</strong>.
        </p>
        <p>
            You will be able to enjoy the drinks, stay in the chill-out areas, participate in activities
            like Shuffleboard, Ping Pong, or Foosball, as well as mingle with the conference organizers, speakers, other
            participants, and our partners!
        </p>
        <p>
            Oh, and one more thing! We will be serving good food in the evening as well. Some drinks are on
            us, some will be on our partners!
        </p>
    </section>

    <h2>A few very important principles</h2>
    <section id="principles" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>
            JavaZone is a 100% community-organized conference created by javaBin. The program is chosen by
            our independent program committee, and they operate under the principle that no one is paid to hold a
            presentation, and likewise, that no one can pay us to get their presentation accepted.
        </p>
        <p>
            We as organizers strive to create the best possible learning experience for all our speakers and
            participants, and we expect you to do the same. Everyone is welcome at JavaZone, but we do require that you
            treat your fellow conference participants with respect. We reserve the right to take any action necessary to
            make sure this principle is upheld. For more details, see our Code of Conduct that applies to all events
            organized by javaBin.
        </p>
        <p>Should any unwanted event occur, we‘re here to help:</p>

        <strong>Before the conference</strong>
        <p>
            You can contact us by email: <a href="mailto:javazone@java.no">javazone@java.no</a>
            (this goes to a small group of people, the core organizers of JavaZone), or <a href="mailto:styret@java.no">styret@java.no</a> (this
            goes to the javaBin board).
        </p>

        <strong>During the conference</strong>
        <p>
            Ask at the info stand, and we‘ll be in touch. Contact information will also be available at the
            info stand.
        </p>
    </section>

    <h2>Food</h2>
    <section id="food" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p><a href="/food">Read more about food served at JavaZone.</a></p>
    </section>

    <h2>Sustainable waste management and recycling at JavaZone</h2>
    <section id="sustainability" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>
            In an era where environmental consciousness is at the forefront, responsible waste management
            practices have become imperative. At Oslo Spektrum, an innovative partnership with Oslo Municipality and
            Franzefoss ensures that waste is not just disposed of, but actively sorted and recycled, promoting a greener
            future.
        </p>
        <p>
            Upon entering JavaZone, attendees may not be immediately aware of the meticulous waste
            management system that operates behind the scenes. Once waste is discarded, the process of responsible
            disposal begins. A comprehensive sorting mechanism is in place, designed to separate recyclables from
            non-recyclable materials.
        </p>
        <p>
            One notable aspect of this waste management initiative is the sorting and collection of beverage
            containers for deposit refund, known as "pant" in Norway. The bottles and cans are systematically collected,
            sorted, and sent for recycling, embodying the ethos of resource efficiency.
        </p>
        <p>
            Considerable portions of waste generated during JavaZone are earmarked for recycling. Through a
            blend of advanced waste separation technology and dedicated staff, materials like paper, plastic, glass, and
            metal are carefully segregated. The residual waste is further sorted at the Franzefoss plant in Haraldsrud
            and the remaining 70% is ground up and converted into FOB (refined waste fuel). Franzefoss has an agreement
            with Norcem for the delivery of FOB and this is used by Norcem as a high-value fuel for cement production.
            The food waste/wet organic waste delivered is used for biogas and fertilizer on grain fields. This not only
            reduces the environmental impact of JavaZone but also sets an example for attendees and the wider
            community.
        </p>
    </section>

    <h2>Questions?</h2>
    <section id="questions" class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white rounded-2xl">
        <p>
            Do not hesitate to contact us if you have any questions. Contact us at
            <a href="mailto:javazone@java.no">javazone@java.no</a> and we’ll try our best to give
            you an answer.
        </p>
        <p>We are looking forward to seeing you at JavaZone 2024!</p>
    </section>
</Layout>
