---
import Layout from "../../layouts/Layout.astro";
import ButtonLink from "@/components/ButtonLink.astro";

---
<Layout title="JavaZone Kids!">
    <div class="w-full flex flex-col justify-start items-start">
        <div class="py-8 lg:py-12 px-3 md:px-12">
            <h1>JavaZone Kids</h1>
            <h2>En smakebit på voksenlivet</h2>
        </div>

        <h3 class="px-3 md:px-12">TRE PARALLELLE WORKSHOPS</h3>
        <div class="w-full px-3 py-8 lg:px-12 my-3 border-2 border-black bg-white">
            <p>JavaZone inviterer alle til å ta med seg sine barn på
                <b class="text-darkgreen">Rebel søndag 1. september.</b>
                <br>
                Vi kjører 3 parallelle workshops, slik at vi har noe for både de mindre og de litt eldre barna.</p>
            <p>Arrangementet er gratis for alle!</p>
        </div>

        <h3 class="px-3 md:px-12">PRAKTISK INFORMASJON</h3>
        <div class="w-full py-8 px-3 lg:px-14 my-3 border-2 border-black bg-white">
            <div class="py-3">
                <h4 class="font-semibold">Tid & Sted</h4>
                <p>Registrering fra kl. 10.30<br>Arrangement kl. 11.00 - 15.00</p>
                <p class="italic text-darkgreen font-medium">Rebel, Universitetsgata 2</p>
            </div>

            <div class="py-3">
                <h4 class="font-semibold">Påmelding</h4>
                <p>Påmeldingen åpner mandag 5. august kl. 12.00.<br>Vi har et begrenset antall plasser, derfor er det viktig at du melder på ditt/dine barn før fristen 20. august kl. 12.00.</p>
                <p>Har dere ikke mulighet til å komme likevel, er det viktig at dette blir gitt beskjed om, siden det pleier å være ventelister på våre kurs.</p>
            </div>

            <div class="py-3">
                <h4 class="font-semibold">Utstyr</h4>
                <p>Kursene krever enten egen laptop eller nettbrett. Mer informasjon finner du på den enkelte workshop.</p>
            </div>

            <div class="py-3">
                <h4 class="font-semibold">Tre parallelle workshops</h4>
                <p>Vi kjører 3 parallelle workshops. Les mer om de under, og meld på den dere ønsker å delta på. Vi serverer enkel mat underveis. Det er viktig at du som foresatt også setter av tid til å være til stede hele dagen. Vi lager en egen “foreldresone” med kaffe.</p>
            </div>

            <p class="font-medium italic text-darkgreen">Velkommen til en lærerik dag på Rebel!</p>
        </div>

        <h3 class="px-3 md:px-12">WORKSHOPS</h3>
        <div class="w-full h-full my-3 flex flex-col md:flex-row justify-between items-stretch">

            <div class="w-full md:w-[32%] p-3 my-10 lg:my-1 flex flex-col bg-white text-black border-2 border-black relative">
                <img src="/images/characters/jz24-disc.svg" alt="Decorative character" width="60%" class="absolute -top-7 md:-top-1 lg:-top-5 right-5 md:-right-1 lg:-right-6 md:w-[70%] z-50"/>

                    <p class="text-darkgreen font-extrabold font-mono text-8xl mr-1">1</p>

                        <div class="flex flex-row md:flex-col lg:flex-row justify-between w-full">
                            <h4 class="font-bold">P5.js</h4>
                            <h4 class="italic font-semibold mr-2 text-darkgreen">Kinosalen</h4>
                        </div>
                        <h5 class="mb-3 w-full">Sigmund Hansen</h5>

                <p class="mb-auto">P5.js gjør det enkelt å komme i gang med å programmere grafikk og lyd i nettleseren. Her ønskes ungdommene velkommen til et minikurs hvor de kan lære seg å programmere. <br>
                    Kurset er rettet mot nybegynnere og krever ingen forkunnskaper. Målet for kurset er å eksperimentere og lære om noen viktige byggestener innen programmering, og at alle skal få laget et lite interaktivt grafisk program.</p>

                <div class="mt-auto lg:mt-5 mb-5">
                    <p><span class="font-semibold">Deltakere: </span>20</p>
                    <p><span class="font-semibold">Alder: </span>12 - 17 år</p>
                    <p class="lg:mb-6"><span class="font-semibold">Utstyr: </span>Ta med egen laptop.</p>
                </div>
                <ButtonLink href="https://moosehead.javazone.no/workshop/processing" target="_blank">Påmelding</ButtonLink>
            </div>

            <div class="w-full md:w-[32%] p-3 my-10 lg:my-1 flex flex-col bg-white text-black border-2 border-black relative">
                <img src="/images/characters/jz24-sky.svg" alt="Decorative character" width="55%" class="absolute -top-[6rem] sm:-top-[3.5rem] md:-top-[2rem] lg:-top-[4.5rem] -right-3 lg:-right-[2.5rem] md:w-[65%] lg:w-[55%] z-50"/>

                <p class="text-darkgreen font-extrabold font-mono text-8xl mr-1">2</p>

                <div class="flex flex-row md:flex-col lg:flex-row justify-between w-full">
                    <h4 class="font-bold">BitBot - Selvkjørende bil</h4>
                    <h4 class="italic font-semibold mr-2 text-darkgreen">Ada</h4>
                </div>
                <h5 class="mb-3 w-full">Bjørn Hamre og Thomas Nøkleby</h5>

                <p class="mb-auto lg:pb-[19.2px]">Bli med og utforsk den selvkjørende bilen BitBot XL. På denne workshopen skal dere lære å programmere en micro:bit som styrer bilen. Dere skal bl.a. lære å bruke sensorene på bilen slik at den selv unngår å krasje i omgivelsene og få den til å følge en bane vi tegner på gulvet. Til slutt tar vi en uhøytidlig konkurranse og ser hvem som raskest fullfører banen.</p>

                <div class="mt-auto lg:mt-5 mb-5">
                    <p><span class="font-semibold">Deltakere: </span>20</p>
                    <p><span class="font-semibold">Alder: </span>12 - 17 år</p>
                    <p><span class="font-semibold">Utstyr: </span>Deltakere må ta med egen PC eller Mac <span class="italic">(og lader)</span> de kan koble micro:bit-en til.
                    <span class="italic">OBS!</span> Safari-nettleseren på Mac fungerer dårlig, derfor anbefaler vi Chrome.</p>
                </div>
                <ButtonLink href="https://moosehead.javazone.no/workshop/bitbot" target="_blank">Påmelding</ButtonLink>
            </div>

            <div class="w-full md:w-[32%] p-3 my-10 lg:my-1 flex flex-col bg-white text-black border-2 border-black relative">
                <img src="/images/characters/jz24-mc.svg" alt="Decorative character" width="38%" class="absolute -top-[4.5rem] sm:-top-16 md:-top-12 lg:-top-[7.5rem] right-20 sm:right-16 md:right-5 lg:right-10 md:w-[47.5%] lg:w-[45%] z-50"/>

                <p class="text-darkgreen font-extrabold font-mono text-8xl mr-1">3</p>

                <div class="flex flex-row md:flex-col lg:flex-row justify-between w-full">
                    <h4 class="font-bold">Sphero-roboter</h4>
                    <h4 class="italic font-semibold mr-2 text-darkgreen">Exposalen</h4>
                </div>
                <h5 class="mb-3 w-full">Anuradha Shridharan</h5>

                <p class="mb-auto">Er du klar for å rase roboten din gjennom en utfordrende labyrint?
                    Ved å bruke Sphero-robotikk vil deltakerne oppleve real-time og hands-on programmering med robotene der de kan lære å forstå hvordan roboten kan bevege seg, oppføre seg og hvordan de kan fikse ting som går galt, og teste på nytt.
                    De vil få en labyrint som de må kode for å få roboten til å navigere ruten og komme seg til målstreken.</p>

                <div class="mt-auto lg:mt-5 mb-5">
                    <p><span class="font-semibold">Deltakere: </span>16</p>
                    <p><span class="font-semibold">Alder: </span>9 - 12 år</p>
                    <p><span class="font-semibold">Utstyr: </span>Ta med eget nettbrett med appen “Sphero Edu” installert.</p>
                </div>
                <ButtonLink href="https://moosehead.javazone.no/workshop/sphero" target="_blank">Påmelding</ButtonLink>
            </div>
        </div>
    </div>
</Layout>

<style>
    @property --a {
        syntax: "<angle>";
        inherits: false;
        initial-value: 10deg;
    }
    @keyframes rotate {
        0% {
            --a: 0deg;
        }
        100% {
            --a: 360deg;
        }
    }

    body {
        --a: 0deg; /*  needed for firefox to have a valid output */
        background: repeating-conic-gradient(
            hsla(0, 0%, 0%, 0.2) var(--a) calc(var(--a) + 15deg),
            hsla(0, 0%, 100%, 0) var(--a) calc(var(--a) + 30deg)
        )
        #00f3d2 no-repeat;
        animation: rotate 160s linear infinite;
    }
</style>
