---
import Layout from "../../layouts/Layout.astro";

---
<Layout title="JavaZone Kids!">

<div class="h-screen">
    <h1>JavaZone Kids
    </h1>
    <p>En smakebit på JavaZone for framtidens utviklere
        JavaZone inviterer alle til å ta med seg sine barn og ungdommer på Rebel (Teknologihuset) - søndag 1. september.
        Denne dagen får barn og ungdom en smakebit på voksenlivet. Vi kjører 4 parallelle sesjoner, slik at vi har noe som passer for alle aldre, fra 8 til 17 år.
        Arrangementet er gratis, men har begrenset plass.
        Hold av datoen, mer informasjon kommer.</p>
</div>

</Layout>


<style>
    section {
        @apply p-4
    }

    .package {
        margin: 1rem 0;
        border-radius: 16px;
        @apply shadow-2xl
    }

    @media screen and (min-width: 1400px) {
        .packages {
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(3, 1fr);
            margin: 1rem 0;
        }

        .package {
            gap: 1rem;
            margin: 0;
            display: grid;
            align-content: baseline;
        }
    }

    .bold {
        font-weight: bold;
    }

    .partner-tickets {
        grid-column: 1 / end;
    }

    .stand-image {
        object-fit: cover;
    }

    .register-button {
        display: inline-block;
        margin-top: 1rem;
        background: blue;
        padding: 1rem;
        border-radius: 8px;

        a {
            color: white;
        }
    }
</style>
