---
import { Image } from "astro:assets";
import { partners } from "./partners";
---
<section class="block w-screen p-4 ml-[calc(-50vw+50%)] mr-[calc(-50vw+50%)] mt-4">
    <h2 class="text-3xl leading-9 mb-4 text-center">
        Partners in 2024
    </h2>
    <div class="flex flex-wrap justify-center gap-10">
        {partners
            .sort(() => Math.random() - 0.5)
            .map(partner => (
                <a target="_blank" href={partner.homepageUrl}>
                    <Image
                        height="10"
                        width="10"
                        class="h-16 w-40 transform transition-transform hover:scale-125"
                        src={partner.logoUrl}
                        alt={partner.name}
                        style={{ padding: "5px" }}
                    />
                </a>
            ))}
    </div>
</section>
