---
import Layout from "../../layouts/Layout.astro";
import {Image} from "astro:assets"
---
<Layout title="AweZone">
    <Image
        width={750}
        height={500}
        src={`/images/AweZone2024-logo.svg`}
        alt="AweZone 💃🕺"
    />
    <div class="bg-white p-3 border-black border-2 rounded-xl">
        <p>
            AweZone is JavaZone's traditional party
            which takes place on Wednesday evening. 💃🕺🪩
        </p>
        <p>
            The party offers a great chance to catch up
            with old friends, meet new ones, and also
            experience a great lineup of entertainment!
        </p>
        <p>
            On Wednesday, we will be starting the
            pre-party at 7:20 PM. At
            <strong>8:00 PM</strong>, we will be leaving Oslo Spektrum
            together and moving towards Youngstorget,
            and the best geeky super-party ever –
            AweZone! We will be spending the evening at{" "}
            <strong>Youngs</strong>,{" "}
            <strong>Himkok</strong>, and <strong>Kulturhuset</strong>.
        </p>
        <p>At Youngs, Lizzy & Frizzy will be playing. Himkok will have a music lounge with DJ and Kulturhuset will host our partner bands in the following
        order:</p>
        <ol>
            <li>Bekk Band</li>
            <li>The Vela Incident</li>
            <li>Kjell´s Angels</li>
            <li>Kanband</li>
        </ol>
        <p>
            You will be able to enjoy the drinks, stay
            in the chill-out areas, participate in
            activities like Shuffleboard, Ping Pong, or
            Foosball, as well as mingle with the
            conference organizers, speakers, other
            participants, and our partners!
        </p>
        <p>
            Oh, and one more thing! We will be serving
            good food in the evening as well. Some
            drinks are on us, some will be on our
            partners!
        </p>
    </div>

</Layout>
