---
import type {HTMLAttributes} from "astro/types";
interface Props extends HTMLAttributes<'a'> {
}
---
<div class="my-10">
    <a {...Astro.props}
       class="font-['JosefinSans-SemiBold'] bg-darkgreen py-6 px-6 sm:px-10 text-white no-underline rounded-md hover:bg-white hover:border-2 border-darkgray hover:text-darkgray max-sm:text-lg whitespace-nowrap">
        <slot/>
    </a>
</div>

