---
---

<footer class="bg-white w-full">
        <div class="flex items-center justify-center gap-10 py-7">
            <a href="https://www.java.no/" target="_blank">About Javabin</a>
            <a href="https://www.java.no/principles" target="_blank">Code of Conduct</a>
            <a href="https://www.facebook.com/javazoneconference" target="_blank">Facebook</a>
            <a href="https://twitter.com/javazone" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/company/javazone" target="_blank">Linkedin</a>

    </div>
</footer>

<style>
    a {
        font-family: JosefinSans-SemiBold, sans-serif;
        @apply text-darkgray no-underline
    }

    a:hover {
        @apply text-turquoise;
    }
</style>
