---
import {Image} from "astro:assets";
---

<footer class="bg-white w-full border-y-2 border-y-black">
        <div class="flex flex-col md:flex-row items-center justify-center gap-10 py-8">
            <a href="https://www.java.no/" target="_blank">About Javabin</a>
            <a href="https://www.java.no/principles" target="_blank">Code of Conduct</a>
            <a href="https://www.facebook.com/javazoneconference" target="_blank"><Image src="/images/SoMe/facebook.svg" alt="Facebook logo" width="50" height="50"/></a>
            <a href="https://x.com/javazone" target="_blank"><Image src="/images/SoMe/twitter-x.svg" alt="X logo" width="50" height="50"/></a>
            <a href="https://www.linkedin.com/company/javazone" target="_blank"><Image src="/images/SoMe/linkedin.svg" alt="LinkedIn logo" width="50" height="50"/></a>

    </div>
</footer>

<style>
    a {
        font-family: "Josefin Sans", system-ui, sans-serif;
        @apply text-darkgray no-underline
    }

    a:hover {
        @apply text-turquoise;
    }
</style>
