---
---

<!-- component -->
<footer class="bg-white w-full">
        <div class="flex items-center justify-center gap-10 py-6">
            <a href="https://www.java.no/">About Javabin</a>
            <a href="https://www.java.no/principles">Code of Conduct</a>
            <a href="https://www.facebook.com/javazoneconference">Facebook</a>
            <a href="https://twitter.com/javazone">X</a>
            <a href="https://www.linkedin.com/company/javazone">Linkedin</a>

    </div>
</footer>

<style>
    a {
        font-family: JosefinSans-SemiBold, sans-serif;
        @apply text-darkgray no-underline
    }

    a:hover {
        @apply text-turquoise;
    }
</style>
