---
import {Image} from "astro:assets"
---

<!-- component -->
<header class="bg-white">
    <nav class="flex items-center gap-16 py-4 mx-8">
        <div>
            <a href="/">
                <Image src="/images/JavaZone2024-logo-cropped.svg" alt="JavaZone 2024" width="110" height="50"/>
            </a>
        </div>
        <div class="flex gap-4">
            <a href="/speakers">Speakers</a>
            <a href="/partner">Partner</a>
            <a href="/javazoneKids">JavaZone Kids</a>
        </div>

    </nav>
</header>

<style>
    a {
        font-family: JosefinSans-SemiBold, sans-serif;
        @apply text-darkgray no-underline
    }

    a:hover {
        @apply text-turquoise;
    }
</style>
