---

interface Partner {
    homepageUrl: string
    name: string
    logoUrl: string
}

interface Props {
    partners: Partner[]
}

const { partners } = Astro.props;
---

<div class="flex flex-wrap justify-evenly gap-10 mx-auto">
    {[...partners]
        .sort(() => Math.random() - 0.5)
        .map((partner) => {
            return (
                <a key={partner.name} href={partner.homepageUrl}>
                    <img
                        height={0}
                        width={0}
                        sizes={'100vw'}
                        class="h-16 w-40 transform transition-transform hover:scale-125"
                        src={partner.logoUrl}
                        alt={partner.name}
                        style={{ padding: '5px' }}
                    />
                </a>
            )
        })}
</div>

<style>
    img {
        //filter: invert(100%) grayscale(1);
    }
</style>
