---
import { Image } from "astro:assets"
---
<!-- Full illustration wrapper -->
<div class="grid place-items-center -mt-10">
    <!-- Full illustration image -->
    <Image src="/images/JavaZone2024-comp-cropped.svg"
           alt="An illustration for 'JavaZone by JavaBin,' inspired by the 1920s Steamboat Willie theme. It features whimsical representations of technology, including small figures of USB sticks, floppy disks, and punch hole cards, among other vintage and modern tech elements. The design combines a nostalgic black-and-white animation style with technology motifs to celebrate the evolution of computing in a playful manner"
           width="1000" height="800"/>
</div>
