/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JosefinSans-Light';
    src: url('/fonts/JosefinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('/fonts/JosefinSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Limelight-Regular';
    src: url('/fonts/Limelight-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Step -2: 14.08px → 12.8px */
    --step--2: clamp(0.8rem, 0.9078rem + -0.1391vi, 0.88rem);
    /* Step -1: 17.6px → 16px */
    --step--1: clamp(1rem, 1.1348rem + -0.1739vi, 1.1rem);
    /* Step 0: 22px → 20px */
    --step-0: clamp(1.25rem, 1.4185rem + -0.2174vi, 1.375rem);
    /* Step 1: 27.5px → 25px */
    --step-1: clamp(1.5625rem, 1.7731rem + -0.2717vi, 1.7188rem);
    /* Step 2: 34.375px → 31.25px */
    --step-2: clamp(1.9531rem, 2.2164rem + -0.3397vi, 2.1484rem);
    /* Step 3: 42.9688px → 39.0625px */
    --step-3: clamp(2.4414rem, 2.7705rem + -0.4246vi, 2.6855rem);
    /* Step 4: 53.7109px → 48.8281px */
    --step-4: clamp(3.0518rem, 3.4631rem + -0.5307vi, 3.3569rem);
    /* Step 5: 67.1387px → 61.0352px */
    --step-5: clamp(3.8147rem, 4.3289rem + -0.6634vi, 4.1962rem);
    /* Step 6: 83.9233px → 76.2939px */
    --step-6: clamp(4.7684rem, 5.4111rem + -0.8293vi, 5.2452rem);
}

@layer base {
    html {
        @apply scroll-smooth
    }

    body {
        font-family: JosefinSans-Light, system-ui, sans-serif;
        @apply text-darkgray bg-turquoise;
    }


    h1 {
        font-family: Limelight-Regular, sans-serif;
        @apply text-5xl
    }

    h2 {
        font-family: JosefinSans-SemiBold, sans-serif;
        @apply text-4xl

    }

    h3 {
        font-family: JosefinSans-SemiBold, sans-serif;
        @apply text-3xl

    }

    h4, h5, h6 {
        font-family: JosefinSans-SemiBold, sans-serif;
    }

    a {
        @apply text-blue-600 underline;
    }
}

