/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JosefinSans-Light';
    src: url('/fonts/JosefinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('/fonts/JosefinSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Limelight-Regular';
    src: url('/fonts/Limelight-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        @apply scroll-smooth
    }

    :root {
        --base: 1.4rem
    }

    body {
        font-family: JosefinSans-Light, system-ui, sans-serif;
        font-size: clamp(var(--base), 4vw, 2rem);
        @apply text-darkgray bg-turquoise;
    }


    h1 {
        font-family: Limelight-Regular, sans-serif;
        font-size: calc(var(--base) * 2.5);
    }

    h2 {
        font-family: JosefinSans-SemiBold, sans-serif;
        font-size: calc(var(--base) * 2);
    }

    h3 {
        font-family: JosefinSans-SemiBold, sans-serif;
        font-size: calc(var(--base) * 1.5);

    }

    h4, h5, h6 {
        font-family: JosefinSans-SemiBold, sans-serif;
    }

    a {
        @apply text-blue-600 underline;
    }
}

