---
import Header from '../components/Header.astro';
interface Props {
    title: string;
}

const {title} = Astro.props;
import "public/styles/base.css"
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<a href="#main-content" class="skiplink">Skip to main content</a>
<Header/>
<main id="main-content">
    <slot/>
    <a href="#main-content">Go to the top</a>
</main>
</body>
</html>

<style>
    .skiplink {
        @apply absolute left-[-2000px] top-0
    }

    .skiplink:hover {
        @apply left-0
    }

    body {
        cursor: url('../../public/images/JavaZone2024-arrow.gif'), auto;

    }
</style>
