---
import Header from '../components/Header.astro';
import Footer from '@/components/Footer.astro';
import {Image} from "astro:assets"
interface Props {
    title: string;
}

const {title} = Astro.props;
import "styles/base.css"
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta property="og:title" content="JavaZone 2024 - the biggest community-driven Java conference."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://2024.javazone.no/"/>
    <meta property="og:description"
          content="Join us on September 4th-5th, 2024 in Oslo Spektrum, Norway for JavaZone 2024. Featuring a wide range of tech talks, workshops, and networking opportunities. Tickets on sale now!"/>
    <meta property="og:site_name" content="JavaZone 2024"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
</head>
<body>
    <div class="overflow-x-hidden">
        <a href="#main-content" class="skiplink">Skip to main content</a>
        <Header/>
        <main id="main-content">
            <div class="min-h-screen flex flex-col justify-between items-stretch">
                <div class="flex items-center grow shrink-0 py-4 !px-6 md:!px-12">
                    <div class="relative grow shrink my-0 w-full lg:max-w-[120rem] mx-auto">
                        <slot/>
                    </div>
                </div>
            </div>
            <div class="flex w-full justify-center">
            <a href="#main-content" class="m-6 -mb-5">
                <img src="../../public/images/to-top.svg"  alt="An illustration of an arrow pointing up to navigate back to top." width="50" height="50"/>
            </a>
            </div>
        </main>
        <Footer />
    </div>
</body>
</html>

<style>
    .skiplink {
        @apply absolute left-[-2000px] top-0
    }

    .skiplink:hover {
        @apply left-0
    }

</style>
