@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        @apply scroll-smooth
    }

    :root {
        --base: 1.2rem
    }

    body {
        font-family: "Josefin Sans", system-ui, sans-serif;
        font-optical-sizing: auto;
        font-weight: 350;
        font-style: normal;
        font-size: clamp(var(--base), 4vw, 1rem);
        @apply text-darkgray bg-turquoise;
        cursor: url("/images/JavaZone2024-arrow.gif"), default;
    }


    h1 {
        font-family: "Limelight", sans-serif;
        font-weight: 400;
        font-size: calc(var(--base) * 2.5);
    }

    h2 {
        font-family: "Limelight", sans-serif;
        font-weight: 400;
        font-size: calc(var(--base) * 2);
    }

    h3 {
        font-weight: 600;
        font-size: calc(var(--base) * 1.5);
        padding-top: 36px;

    }

    h4, h5, h6 {
        font-family: "Josefin Sans", system-ui, sans-serif;
    }

    a {
        @apply text-purple underline;
        cursor: url('../../images/JavaZone2024-hand.gif'), pointer;
    }

    p {
        @apply my-3
    }

    .custom-grid {
        @apply grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      }

}

